/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width:  100%;
  overflow: hidden;
}
.header-container {
  height: 100px;
  background-color: #ffffff;
}
.router-container {
  position:  absolute;
  top:  100px;
  width:  100%;
  height: calc(100vh - 100px);
}
.about-page {
  background-image: url('../src/assets/backgrounds/about_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  height: calc(100vh - 100px);
}
.news-page {
  background-image: url('../src/assets/backgrounds/news_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  height: calc(100vh - 100px);
}